body {
    background-color: lightgray;
    font-family: Arial;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 28px;
}

button {
    color: black;
    font-size: 125%;
    border-radius: 4px;
    border: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    background: white;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: black;
}