div.create-container
  form(action="/superheros",  method="post", enctype="multipart/form-data")
    input(type="text", placeholder="suerhero name", required="required", name="superhero")
    input(type="file", name="image")
    button Create